@import "custom";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

h1 {
  color: black;
}
.sk-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .text-container {
    flex: 0 0 65%;
  }
  .img-container {
    flex: 0 0 30%;
  }
}
#todayImage img {
  width: 100%;
}
[id^="imag-"] {
  width: 90%;
  height: 50%;
  img {
    width: 90%;
  }
}
